.show_info{
    margin: 0 auto;
    width: 80%;
    height: auto;
    overflow-y: hidden;
    transition: height 0.5s;
}

.show_info.close_info {
    height: 0;
}

.show_first{
    display: flex;
    justify-content: space-around;
    align-items: center;
}